<!doctype html>
<html lang="en" data-bs-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
			crossorigin="anonymous" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
		<style>
			body {
				background: #2f3b52;
			}
			#app {
				padding: 10px;
			}
			hr {
				border-top: 2px solid #fff;
			}
			#status-lt {
				width: 100%;
				height: 20px;
				transition: 1s;
			}
			#status-lt.on-air {
				background: red;
			}
			#status-lt.ready {
				background: green;
			}
			#status-lt.offline {
				background: #666;
			}
			.text-danger {
				color: red;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div class="row">
				<div class="col-7">
					<h2>Управление состояниями</h2>
					<div id="status-lt" class="status-bar" :class="tallyStatus">&nbsp;</div>
					<div v-if="lowerthirdStatus.isOnAir && lowerthirdStatus.timerVisual > 0" class="timer-badge">
						Уход через: <strong>{{ lowerthirdStatus.timerVisual }}s</strong>
					</div>
					<div class="btn-toolbar mt-3" role="toolbar">
						<div class="btn-group btn-group-lg me-2" role="group">
							<button type="button" class="btn btn-light" style="font-size: 1.5rem" @click="takeToAir">
								<i class="bi bi-eye"></i> Prepare
							</button>
							<button
								type="button"
								class="btn btn-light"
								style="font-size: 1.5rem"
								@click="toggleAir(true, 0)">
								<i class="bi bi-play-fill"></i> Play In
							</button>
							<button
								type="button"
								class="btn btn-light"
								style="font-size: 1.5rem"
								@click="toggleAir(false, 0)">
								<i class="bi bi-arrow-bar-right"></i> Play Out
							</button>
						</div>
					</div>
					<div class="btn-toolbar mt-3" role="toolbar">
						<div class="btn-group btn-group-sm me-2" role="group">
							<button
								type="button"
								class="btn btn-light"
								style="font-size: 1.5rem"
								@click="toggleAir(true, 5)">
								<i class="bi bi-play"></i> 5 sec
							</button>
							<button
								type="button"
								class="btn btn-light"
								style="font-size: 1.5rem"
								@click="toggleAir(true, 7)">
								<i class="bi bi-play"></i> 7 sec
							</button>
						</div>
						<div class="btn-group btn-group-sm">
							<input type="text" class="form-control" style="width: 70px" v-model="customSec" />
							<button
								type="button"
								class="btn btn-light"
								style="font-size: 1.5rem"
								@click="toggleAir(true, customSec)">
								<i class="bi bi-play"></i> sec
							</button>
						</div>
					</div>
					<button type="button" class="btn btn-danger btn-lg mt-4" @click="resetScreen">
						<i class="bi bi-x-circle"></i> Clear screen
					</button>
				</div>
				<div class="col">
					<h2>Отправлено в титры</h2>
					<label for="kvn-input-name" class="form-label mt-1">Главная подпись</label>
					<p id="text-lt" class="fw-normal fs-5" style="color: white">{{ lowerthirdStatus.name }}</p>
					<label for="kvn-input-description" class="form-label mt-1">Описание</label>
					<p id="description-lt" class="fw-normal fs-5" style="color: white">
						{{ lowerthirdStatus.description }}
					</p>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col">
					<h3>Ведущий</h3>
					<button type="button" class="btn btn-secondary disabled placeholder" v-if="vueGeneral.host == ''">
						Нет данных
					</button>
					<button type="button" class="btn btn-secondary" id="host-button" @click="prepareHost" v-else>
						{{ vueGeneral.host }}
					</button>
				</div>
			</div>

			<div class="row">
				<div class="juries col">
					<h3 class="mt-3">Жюри</h3>
					<div class="btn-group-vertical" id="juries-list">
						<button type="button" class="btn btn-secondary disabled placeholder" v-if="vueJuries == ''">
							Нет данных
						</button>
						<button
							type="button"
							class="btn btn-secondary"
							aria-current="true"
							v-for="jury in vueJuries"
							@click="prepareTitle(jury, 'jury')"
							v-else>
							{{ jury.name }}
						</button>
					</div>
				</div>

				<div class="teams col">
					<h3 class="mt-3">Команды</h3>
					<div class="btn-group-vertical">
						<button type="button" class="btn btn-secondary disabled placeholder" v-if="vueTeams == ''">
							Нет данных
						</button>
						<button
							type="button"
							class="btn btn-secondary"
							aria-current="true"
							v-for="team in vueTeams"
							@click="prepareTitle(team, 'team')"
							v-else>
							{{ team.name }}
						</button>
					</div>
				</div>
			</div>

			<h3 class="mt-5">Пользовательский титр</h3>
			<div class="row">
				<div class="col">
					<label for="kvn-input-name" class="form-label mt-1">Главная подпись</label>
					<input type="text" id="kvn-input-name" class="form-control" v-model="customName" />
				</div>
				<div class="col">
					<label for="kvn-input-description" class="form-label mt-1">Описание</label>
					<input type="text" id="kvn-input-description" class="form-control" v-model="customDescription" />
				</div>
			</div>
			<button class="btn btn-secondary mt-2" @click="sendCustom()">Отправить пользовательский титр</button>
		</div>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
			crossorigin="anonymous"></script>
		<script type="module" src="./kvn-lowerthird.js"></script>
	</body>
</html>
